*{
  box-sizing: border-box;
}
/* For Desktop */
@media (min-width: 992px ) {
  .col-lg-4 {
    float: left;
    width: 32%;
  }
}
/* For Tablet */
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6 {
    float:left;
    width: 48%;

  }
  .col-md-12 {
    float: left;
    width: 100%;

  }
}
/* For Mobile phones */
@media (max-width: 767px) {
  .col-sx-12 {
    float: left;
    width: 100%;
    margin: 5px 5px 0px 5px;
  }
}
.row {
  width: 100%;

}
.first{
  background-color: grey;
  border: 2px solid black;
  padding: 3px;
  margin-left: 25px;
  margin-top: 25px; text-align: justify;
  position: relative;
  font-family: serif;
  float: right;
}
 span{
   float: right;  top: 0; right: 0;
   text-align: center;
   border: 1px solid black;
   color: black; font-weight: bolder;
   width: 150px;
   position: absolute;
   font-size: 18px;
 }

p{
  padding: 15px 5px 0px 5px;
  float: left;
  clear right; font-weight: normal;
  font-size: 16px; position: relative;
}
.c{
  background-color: #ffb3b3;
  color: black;
}
.b{
  background-color: red;
  color: white;
}
.s{
  background-color: #ffdb4d;
  color: black;
}
h1{
  font-size: 28px;
  font-family: Arial, serif;
  text-align: center;
  font-weight: bold;
  margin-bottom: 30px;
}
